.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
    background-color: beige;
    list-style: none;
}

li:nth-child(1) {
}

.logo {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}
